<footer id="footer">
    <div class="footer-top">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6 footer-info">
    <span style="font-size: 14px;">CONTACT INFO</span>
    <p class="pera-foot">
     Vishwakarma park, Laxmi Nagar , Delhi, India 110092
    </p>
    <span class="foot-heading">PHONE</span>
    <p class="pera-foot">+917065013152</p>
    <span class="foot-heading">TIMING</span>
    <p class="pera-foot">10:00 AM - 06:00PM</p>
    <span class="foot-heading">EMAIL</span>
    <p class="pera-foot">support@99booksstore.com</p>
    <p><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" class="btn btn-outline-light" title="Cancel Order" style="
        /* color: red; */
        background-color: red;
        font-weight: bold;
    ">Cancel Order</a></p>
    
    </div>
    <div class="col-lg-2 col-md-6 col-6 footer-links">
    <span style="font-size: 14px;">INFORMATION</span>
    <ul>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/about-us.html">About Us</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/all-books.html">All Books</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/contact-us.html">Contact Us</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/terms-and-conditions.html">Terms &amp; Conditions</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/privacy-policy.html">Privacy Policy</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/shipping-and-delivery.html">Shipping, Exchange and Returns Policy</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/returns-and-refunds.html">Refund and Cancellation Policy</a></li>
     
     <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/sitemap.html">Sitemap</a></li>
    </ul>
    
    </div>
    <div class="col-lg-2 col-md-6 col-6 footer-links">
    <span style="font-size: 14px;">MY ACCOUNT</span>
    <ul>
    <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/user/profile">My Account</a></li>
    <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/wishlists">Wishlist</a></li>
    <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/user/orders">Orders</a></li>
    <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/cart.html">Cart</a></li>
    <li><i class="bx bx-chevron-right"></i> <a href="https://99booksstore.com/checkout.html">Checkout</a></li>
    
    </ul>
    </div>
    <!-- <div class="col-lg-3 col-md-6 footer-contact">
    <span style="font-size: 14px;">SUBSCRIBE NEWSLETTER</span>
    <p class="pera-foot">Get all the latest information on new arrival book, sales and offers. Sign up for newsletter !</p>
    <div class="d-flex">
    <input type="email" name="your-email" id="subscriber_email" size="40" class="form-control subscribe-btn rounded" placeholder="Email">
    <input type="text" name="your-mobile" id="subscriber_mobile" size="40" class="form-control subscribe-btn rounded" placeholder="Mobile No">
    <input type="submit" value="SUBSCRIBE" class="btn btn-dark" onclick="addSubscriber();" style="border-radius: 0 30px 30px 0;">
    </div>
    <div class="social-links mt-3">
    
     <a href="https://www.facebook.com/99booksstore/" class="facebook" title="facebook"><i class="bx bxl-facebook"></i></a>
     
     <a href="https://twitter.com/" class="twitter" title="twitter"><i class="bx bxl-twitter"></i></a>
     <a href="https://www.instagram.com/99booksstore/?hl=en" class="instagram" title="instagram"><i class="bx bxl-instagram"></i></a>
     <a href="https://in.linkedin.com/in/" class="linkedin" title="linkedin"><i class="bx bxl-linkedin"></i></a>
     
    </div>
    </div>
     -->
    </div>
    </div>
    </div>
    
    
    
    
    
    
    <!-- <div class="container">
    <div class="copyright">
        
     
    <div class="row">
    <div class="col-lg-6 pt-1">
    © 2022 All Rights Reserved 99Books Store.
    </div>
    <div class="col-lg-3">
     
    </div>
    
    <div class="col-lg-3">
    <img src="https://99booksstore.com/assets/img/pay-icon.png" class="img-fluid" alt="Payment Mode">
    </div>
    </div>
    
    </div>
    </div> -->
    </footer>