
    <mat-card class="loginCards">
      
      <label class="loginpagelabel">Sign In</label>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="EmailId" required>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="(loadRegistration['EmailId'].touched || submitted) && loadRegistration['EmailId'].errors">{{getErrorMessage('EmailId','Not a valid email')}}</mat-error>
                </mat-form-field>
               
              </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="(loadRegistration['Password'].touched || submitted) && loadRegistration['Password'].errors">{{getErrorMessage('Password','Not a valid Password')}}</mat-error>
                  </mat-form-field>
              </div>
              <button mat-raised-button>
                <!-- <mat-icon>home</mat-icon> -->
                Sign In
              </button>
            </form>
           
            <div class="regLink">
            <a [routerLink]="'/register'" class="regLink"> Register Now ?</a>
            </div>

 </mat-card-content>
</mat-card>