/* 
.maincontainer{
  
    width: 100%;
    height: 84%;
    overflow-y: scroll;
    padding: 10px;
    align-items: center;
    justify-content: center;
   background: radial-gradient(#ab7931, transparent); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
 background: url(/assets/popUpBg.svg); 
    background: linear-gradient(180deg, #b38338, transparent);
          background: radial-gradient(#735429, #b3833869); 
  
} */
// .maincontainer{
  
//     width: 100%;
//     height: 84%;
//     overflow-y: scroll;
//     /* padding: 10px; */
//     align-items: center;
//     justify-content: center;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }

// .maincontainer{
//     background: linear-gradient(45deg, #dab2781f, transparent);
// }
